*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ul-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.app-div{
    margin: 10px;
    padding: 10px;
    border: 5px solid lightseagreen;
    background-color: rgb(250, 183, 183);
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 150px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.app-div:hover{
    background-color: rgb(245, 143, 143);
}
.app-div a{
    font-size: x-large;
    text-decoration: none;
    color: blue;
}
.app-div li{
    display: flex;
    flex-direction: column;
}

@media (max-width:"768px") {
.ul-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.app-div{
    margin: 10px;
    padding: 10px;
    border: 5px solid lightseagreen;
    background-color: rgb(250, 183, 183);
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
}