*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .skills-maindiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
} */
.skills-heading {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-size: 36px;
    margin-bottom: 20px;
}

.skill {
    font-size: 24px;
    margin: 10px 0;
}