*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.skills-main-div{
    width: 100%;
    height: 100vh;
}
.skills-heading{
    text-align: center;
    background-image: linear-gradient(90deg, #ffff3f, #80b918);
    border: solid black 2px;
    box-shadow: 15px 5px 5px 5px brown;
    /* background-color: #ffff3f; */
}
.skills-image{
    border-radius: 40px;
    width: 60%;
    height: 94%;
    margin-left: 5px;
    margin-right: 5px;
}
/* .skills-image:hover{
    cursor: pointer;
    transform: scale(1.1);
} */
.skills-content{
    display: block;
    height: 94%;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid black;
    margin-right: 5px;
    color: black;
    background-color: blanchedalmond;
}
.skills-content h2{
    text-decoration: underline;
}
.skills-content p{
    text-align: justify;
}
.content-button{
    height: 30px;
    width: 80px;
    cursor: pointer;
    float: right;
    border-radius: 10px;
}
.skills-div1{
    display: flex;
    gap: 30px;
    width: 100%;
    height: 60%;
    padding: 10px;
    background-image: linear-gradient(90deg,#80b918,#aacc00,#bfd200,#dddf00,#eeef20,#ffff3f);
    /* background-image: linear-gradient(90deg,  #ff6b81, #ff6348, #e60023); */
    /* background-color: green; */
}
.skills1-sub-div1{
    border-radius: 20px;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    border: dotted black 5px;
    box-shadow: -5px 5px 25px 2px black;
    /* background-color: #ffc8dd; */
}
/* .skills1-sub-div1:hover{
    transform: scale(1.1);
    transition-duration: 3s;
    transition: width 2s, height 4s;
    width: 53%;
    height: 103%;
    border: none;
} */
.skills1-sub-div2{
    border-radius: 20px;
    display: flex;
    width: 50%;
    height: 100%;
    margin-left: 5px;
    align-items: center;
    border: dotted black 5px;
    box-shadow: -5px 5px 25px 2px black;
    /* background-color: #ade8f4; */
}
.skills-div2{
    display: flex;
    gap: 30px;
    width: 100%;
    height: 60%;
    padding: 10px;
    background-image: linear-gradient(90deg,#80b918,#aacc00,#bfd200,#dddf00,#eeef20,#ffff3f);
    /* background-image: linear-gradient(90deg,  #ff6b81, #ff6348, #747d8c); */
}
.skills2-sub-div1{
    border-radius: 20px;
    width: 50%;
    height: 100%;
    align-items: center;
    border: dotted black 5px;
    box-shadow: -5px 5px 25px 2px black;
    /* background-color: #c9ada7; */
}
#skills2-div1-image{
    width: 97%;
    height: 60%;
    margin-top: 5px;
}
#skills2-div1-content{
    height: 36%;
    margin-left: 5px;
    margin-top: 5px;
    text-align: justify;
}
.skills2-sub-div2{
    border-radius: 20px;
    width: 50%;
    height: 100%;
    align-items: center;
    border: dotted black 5px;
    box-shadow: -5px 5px 25px 2px black;
    /* background-color: #e0aaff; */
}
#skills2-div2-image{
    width: 97%;
    height: 60%;
    margin-top: 5px;
}
#skills2-div2-content{
    height: 36%;
    margin-left: 5px;
    margin-top: 5px;
    text-align: justify;
}
.skills2-sub-div3{
    border-radius: 20px;
    width: 50%;
    height: 100%;
    align-items: center;
    border: dotted black 5px;
    box-shadow: -5px 5px 25px 2px black;
    /* background-color: #d9ed92; */
}
#skills2-div3-image{
    width: 97%;
    height: 60%;
    margin-top: 5px;
}
#skills2-div3-content{
    height: 36%;
    margin-left: 5px;
    margin-top: 5px;
    text-align: justify;
}
.skills-div3{
    display: flex;
    gap: 30px;
    width: 100%;
    height: 60%;
    padding: 10px;
    background-image: linear-gradient(90deg,#80b918,#aacc00,#bfd200,#dddf00,#eeef20,#ffff3f);
    /* background-image: linear-gradient(90deg, #ff6b81, #ff6348, #747d8c); */
    /* background-color: orange; */
}
.skills3-sub-div1{
    border-radius: 20px;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    border: dotted black 5px;
    box-shadow: -5px 5px 25px 2px black;
    /* background-color: skyblue; */
}
.skills3-sub-div2{
    border-radius: 20px;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    border: dotted black 5px;
    box-shadow: -5px 5px 25px 2px black;
    /* background-color: chocolate; */
}
#skills1-div2-content{
    margin-left: 5px;  
}
#skills2-div3-content{
    margin-left: 5px;    
}
#skills3-div2-content{
    margin-left: 5px;
}