*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.skills-main-div{
    width: 100%;
    height: 100vh;
}
@media (max-width: 768px){
    .skills-main-div{
        height: auto;
        width: 100%;
    }
    .skills-div1, .skills-div2, .skills-div3{
        flex-direction: column;
        height: auto;
        width: 100%;
        margin: 0%;
        padding: 0%;
    }
    .skills1-sub-div1, .skills1-sub-div2, .skills3-sub-div1, .skills3-sub-div2{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100vw;
        height: auto;
    }
    #skills1-sub-div1-image, #skills1-sub-div2-image, #skills3-sub-div1-image, #skills3-sub-div2-image{
        width: 96%;
        height: auto;
    }
    .skills1-sub-div2, .skills2-sub-div1, .skills2-sub-div2, .skills2-sub-div3, .skills3-sub-div1, .skills3-sub-div2{
        width: 100%;
        height: auto;
    }
    .skills-image{
        width: 80%;
        height: auto;
    }
    h1{
        font-size: 24px;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: bold;
        width: 100%;
    }
}
.skills-heading{
    text-align: center;
    border: solid black 2px;
    box-shadow: 0px 1px 8px 0px brown;
}
.skills-image{
    border-radius: 40px;
    width: 60%;
    height: 94%;
    margin-left: 5px;
    margin-right: 5px;
}
.skills-content{
    display: block;
    height: 94%;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid black;
    margin-right: 5px;
    color: black;
    background-color: blanchedalmond;
    overflow: auto;
}
.skills-content h2{
    text-decoration: underline;
}
.skills-content p{
    text-align: justify;
}
.content-button{
    height: 30px;
    width: 80px;
    cursor: pointer;
    float: right;
    border-radius: 10px;
}
.skills-div1{
    display: flex;
    gap: 30px;
    width: 100%;
    height: 60%;
    padding: 10px;
    /* background-image: linear-gradient(90deg,#80b918,#aacc00,#bfd200,#dddf00,#eeef20,#ffff3f); */
}
.skills1-sub-div1{
    border-radius: 20px;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    border: dotted black 5px;
    box-shadow: -5px 5px 25px 2px black;
}
.skills1-sub-div1 :hover{
    transform: translateX(5px);
}
.skills1-sub-div2 :hover{
    transform: translateX(5px);
}
.skills2-sub-div1 :hover{
    transform: translateY(5px);
}
.skills2-sub-div2 :hover{
    transform: translateY(5px);
}
.skills2-sub-div3 :hover{
    transform: translateY(5px);
}
.skills3-sub-div1 :hover{
    transform: translateX(5px);
}
.skills3-sub-div2 :hover{
    transform: translateX(5px);
}
.skills1-sub-div2{
    border-radius: 20px;
    display: flex;
    width: 50%;
    height: 100%;
    margin-left: 5px;
    align-items: center;
    border: dotted black 5px;
    box-shadow: -5px 5px 25px 2px black;
}
.skills-div2{
    display: flex;
    gap: 30px;
    width: 100%;
    height: 60%;
    padding: 10px;
    /* background-image: linear-gradient(90deg,#80b918,#aacc00,#bfd200,#dddf00,#eeef20,#ffff3f); */
}
.skills2-sub-div1{
    border-radius: 20px;
    width: 50%;
    height: 100%;
    align-items: center;
    border: dotted black 5px;
    box-shadow: -5px 5px 25px 2px black;
}
#skills2-div1-image{
    width: 97%;
    height: 60%;
    margin-top: 5px;
}
#skills2-div1-content{
    height: 36%;
    margin-left: 5px;
    margin-top: 5px;
    text-align: justify;
}
.skills2-sub-div2{
    border-radius: 20px;
    width: 50%;
    height: 100%;
    align-items: center;
    border: dotted black 5px;
    box-shadow: -5px 5px 25px 2px black;
}
#skills2-div2-image{
    width: 97%;
    height: 60%;
    margin-top: 5px;
}
#skills2-div2-content{
    height: 36%;
    margin-left: 5px;
    margin-top: 5px;
    text-align: justify;
}
.skills2-sub-div3{
    border-radius: 20px;
    width: 50%;
    height: 100%;
    align-items: center;
    border: dotted black 5px;
    box-shadow: -5px 5px 25px 2px black;
}
#skills2-div3-image{
    width: 97%;
    height: 60%;
    margin-top: 5px;
}
#skills2-div3-content{
    height: 36%;
    margin-left: 5px;
    margin-top: 5px;
    text-align: justify;
}
.skills-div3{
    display: flex;
    gap: 30px;
    width: 100%;
    height: 60%;
    padding: 10px;
    /* background-image: linear-gradient(90deg,#80b918,#aacc00,#bfd200,#dddf00,#eeef20,#ffff3f); */
}
.skills3-sub-div1{
    border-radius: 20px;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    border: dotted black 5px;
    box-shadow: -5px 5px 25px 2px black;
}
.skills3-sub-div2{
    border-radius: 20px;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    border: dotted black 5px;
    box-shadow: -5px 5px 25px 2px black;
}
#skills1-div2-content{
    margin-left: 5px;  
}
#skills2-div3-content{
    margin-left: 5px;    
}
#skills3-div2-content{
    margin-left: 5px;
}